.backButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}